[user]
	name = Will Abele
	email = will.abele@starlab.io

[alias]
    st = status
    ci = commit
    amend = commit -a --amend --no-edit
    back = reset --hard HEAD~1
    co = checkout
[color]
	ui = auto
